extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9
        h1 Jose Vazquez
        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | My goal is to be a full-stack javascript developer. I enjoy working on back-end apps as well as front-end. 
            | I started learning to code in the summer before my sophomore year at high school. 
            | Game development really caught my eye that year since I was a PC gamer at the time.
            | I've always been self-driven to learn everything I need to start developing useful apps that I too can benefit from.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li ES6
          li Express
          li DOM manipulation
          li JQuery
          li Node.js and NPM
          li HTML 
          li CSS
          li Git
          li Web Forms
          li OOP
          li Promises
          li AJAX/JSON
          li Fetch API
        h6 Contact Info

        ul
          li 708-368-3561
          li javazq25@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/in/jose-vazquez-a3666a181/') LinkedIn
        a.button.expanded(href='https://github.com/jvazquez34139') GitHub
        a.button.expanded(href='') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  
