extends layout.pug

block content 
  article.grid-container.portfolio-intro
    div
      h1 Project Hall
      p.lead.text-light
        | These here are my finished projects only. Finished meaning they complete the initial goals set for them. As i learn new tricks i go back to update and optimize features.
        | You can find more projects im currently working on and havent finished on my 
        a(href="https://github.com/jvazquez34139") Github!
  article.grid-container.portfolio-index
    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3
      each proj in projects
        .cell
          a(href=`project/${proj.id}`)
            img(class="proj-thumb", src=`static/images/proj0${proj.id}/thumbnail.png`)
            h5= proj.project_name
      
